| app/pages/dashboard/dashboard.component.html |
<!--<div class="row">
  <div class="col-lg-12">
    <nb-card>
      <nb-card-header>ทดสอบ</nb-card-header>
      <nb-card-body>
        <div class="row">
          <div class="col-sm-6">
            <form #memoForm="ngForm" novalidate (ngSubmit)="onSubmit(memoForm)">
              <div class="form-group is-invalid">
                <label for="title">หัวข้อ</label>
                <br>
                <input type="text" class="form-control" name="title" required minlength="5" maxlength="20" [(ngModel)]="memo.title" #title="ngModel"
                  [ngClass]="{
                        'form-control-danger': isSubmitted && title.invalid,
                        'form-control-success': isSubmitted && title.valid
                      }">
                <div class="invalid-feedback" *ngIf="title.errors?.required">
                  จำเป็นต้องระบุหัวข้อ
                </div>
                <div class="invalid-feedback" *ngIf="title.errors?.minlength">
                  ชื่อหัวข้อต้องยาวกว่า 5 ตัวอักษร
                </div>
              </div>
              <div class="form-group">
                <label for="detail">เนื้อหา</label>
                <textarea class="form-control" name="detail" maxlength="50" [(ngModel)]="memo.detail" #detail="ngModel" [ngClass]="{
                      'form-control-danger': isSubmitted && detail.invalid,
                      'form-control-success': isSubmitted && detail.valid
                    }">
                    </textarea>
              </div>
              <button type="submit" class="btn btn-success">บันทึก</button>
            </form>
          </div>
          <div class="col-md-6">
            <h4 class="mb-3">บันทึกของฉัน</h4>
            <div *ngFor="let i of memos">
              <div class="media-body">
                <h5 class="mt-0">{{ i.title }}</h5>
                {{ i.detail }}
                <p>
                  <button class="btn btn-outline-danger" (click)="removeMemo(i.id)">ลบ</button>
                </p>
              </div>
            </div>
            <!{{ memos | json }}>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>-->
<div class="row">
  <div class="col-lg-12">
    <nb-card>
      <nb-card-header>กรุณากรอกข้อมูล</nb-card-header>
      <nb-card-body>
        <form #firstForm="ngForm" novalidate (ngSubmit)="firstSubmit(firstForm)">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputFirstName">ชื่อ*</label>
                <input type="text" class="form-control" name="inputFirstName" placeholder="ชื่อ" [(ngModel)]="input.FirstName" #inputFirstName="ngModel">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputLastName">นามสกุล*</label>
                <input type="text" class="form-control" name="inputLastName" placeholder="นามสกุล" [(ngModel)]="input.LastName" #inputLastName="ngModel">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputNickName">ชื่อเล่น*</label>
                <input type="email" class="form-control" name="inputNickName" placeholder="ชื่อเล่น" [(ngModel)]="input.NickName" #inputNickName="ngModel">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputPhoneNumber">เบอร์โทร*</label>
                <input type="text" class="form-control" name="inputPhoneNumber" placeholder="08X-XXX-XXXX" [(ngModel)]="input.PhoneNumber" #inputPhoneNumber="ngModel" disabled>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="form-group">
                <label for="inputAddress">ที่อยู่*</label>
                <textarea name="inputAddress" class="form-control" placeholder="ที่อยู่" [(ngModel)]="input.Address" #inputAddress="ngModel"></textarea>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputWeight">น้ำหนัก*</label>
                <input type="text" class="form-control" name="inputWeight" placeholder="น้ำหนัก" [(ngModel)]="input.Weight" #inputWeight="ngModel">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputHeight">ส่วนสูง*</label>
                <input type="text" class="form-control" name="inputHeight" placeholder="ส่วนสูง" [(ngModel)]="input.Height" #inputHeight="ngModel">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputWebsite">เพิ่มรูป*</label>
                <img class="d-block w-100 h-100" src="assets/images/violette.jpg">
              </div>
              <div class="form-group">
                <label for="inputImg">Example file input</label>
                <input type="file" class="form-control-file" name="inputImg" [(ngModel)]="input.Img" #inputImg="ngModel">
              </div>
              <div class="form-group">
                <div class="custom-file">
                  <input type="file" class="custom-file-input" id="customFile">
                  <label class="custom-file-label" for="customFile">Choose file</label>
                </div>
              </div>
            </div>
          </div>
          <div class="pull-right">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
          <div class="col-md-6">
            <h4 class="mb-3">บันทึกของฉัน</h4>
            <div *ngFor="let i of inputs">
              <div class="media-body">
                <h5 class="mt-0">{{ i.inputFirstName }}</h5>
                {{ i.inputLastName }}
              </div>

            </div>
            {{ inputs | json }}
          </div>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>
<div class="row">
  <div class="col-lg-6">
    <nb-card>
      <nb-card-body class="demo-rating">
        <span class="rating-header">Rating</span>
        <div>
          <table width="100%">
            <tr>
              <td>
                <span class="current-rate">รูปร่างหน้าตา</span>
              </td>
              <td>
                <div class="pull-right">
                  <ngb-rating [(rate)]="starRate" max=5>
                    <ng-template let-fill="fill">
                      <span class="star fill" [class.filled]="fill === 100">
                        <i class="ion-android-star" *ngIf="fill === 100"></i>
                        <i class="ion-android-star-outline" *ngIf="fill !== 100"></i>
                      </span>
                    </ng-template>
                  </ngb-rating>
                  <span class="current-rate">{{ starRate }}</span>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <span class="current-rate">รูปร่างหน้าตา2</span>
              </td>
              <td>
                <div class="pull-right">
                  <ngb-rating [(rate)]="starRate2" max=5>
                    <ng-template let-fill="fill">
                      <span class="star fill" [class.filled]="fill === 100">
                        <i class="ion-android-star" *ngIf="fill === 100"></i>
                        <i class="ion-android-star-outline" *ngIf="fill !== 100"></i>
                      </span>
                    </ng-template>
                  </ngb-rating>
                  <span class="current-rate">{{ starRate2 }}</span>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <span class="current-rate">รูปร่างหน้าตา3</span>
              </td>
              <td>
                <div class="pull-right">
                  <ngb-rating [(rate)]="starRate3" max=5>
                    <ng-template let-fill="fill">
                      <span class="star fill" [class.filled]="fill === 100">
                        <i class="ion-android-star" *ngIf="fill === 100"></i>
                        <i class="ion-android-star-outline" *ngIf="fill !== 100"></i>
                      </span>
                    </ng-template>
                  </ngb-rating>
                  <span class="current-rate">{{ starRate3 }}</span>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <span class="current-rate">รูปร่างหน้าตา4</span>
              </td>
              <td>
                <div class="pull-right">
                  <ngb-rating [(rate)]="starRate4" max=5>
                    <ng-template let-fill="fill">
                      <span class="star fill" [class.filled]="fill === 100">
                        <i class="ion-android-star" *ngIf="fill === 100"></i>
                        <i class="ion-android-star-outline" *ngIf="fill !== 100"></i>
                      </span>
                    </ng-template>
                  </ngb-rating>
                  <span class="current-rate">{{ starRate4 }}</span>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <span class="current-rate">รูปร่างหน้าตา5</span>
              </td>
              <td>
                <div class="pull-right">
                  <ngb-rating [(rate)]="starRate5" max=5>
                    <ng-template let-fill="fill">
                      <span class="star fill" [class.filled]="fill === 100">
                        <i class="ion-android-star" *ngIf="fill === 100"></i>
                        <i class="ion-android-star-outline" *ngIf="fill !== 100"></i>
                      </span>
                    </ng-template>
                  </ngb-rating>
                  <span class="current-rate">{{ starRate5 }}</span>
                </div>
              </td>
            </tr>
          </table>
          <div class="pull-right">
            <button type="submit" class="btn btn-warning">Submit</button>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>ทดสอบ</nb-card-header>
      <nb-card-body>
        <div class="row">
          <div class="col-sm-6">
            <form #memoForm="ngForm" novalidate (ngSubmit)="onSubmit(memoForm)">
              <div class="form-group is-invalid">
                <label for="title">หัวข้อ</label>
                <br>
                <input type="text" class="form-control" name="title" required minlength="5" maxlength="20" [(ngModel)]="memo.title" #title="ngModel"
                  [ngClass]="{
                        'form-control-danger': isSubmitted && title.invalid,
                        'form-control-success': isSubmitted && title.valid
                      }">
                <div class="invalid-feedback" *ngIf="title.errors?.required">
                  จำเป็นต้องระบุหัวข้อ
                </div>
                <div class="invalid-feedback" *ngIf="title.errors?.minlength">
                  ชื่อหัวข้อต้องยาวกว่า 5 ตัวอักษร
                </div>
              </div>
              <div class="form-group">
                <label for="detail">เนื้อหา</label>
                <textarea class="form-control" name="detail" maxlength="50" [(ngModel)]="memo.detail" #detail="ngModel" [ngClass]="{
                      'form-control-danger': isSubmitted && detail.invalid,
                      'form-control-success': isSubmitted && detail.valid
                    }">
                    </textarea>
              </div>
              <button type="submit" class="btn btn-success">บันทึก</button>
            </form>
          </div>
          <div class="col-md-6">
            <h4 class="mb-3">บันทึกของฉัน</h4>
            <div *ngFor="let i of memos">
              <div class="media-body">
                <h5 class="mt-0">{{ i.title }}</h5>
                {{ i.detail }}
                <p>
                  <button class="btn btn-outline-danger" (click)="removeMemo(i.id)">ลบ</button>
                </p>
              </div>
            </div>
            <!{{ memos | json }}>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
<div class="row">
<div class="col-md-6">
  <nb-card>
    <nb-card-header>หัวข้อ</nb-card-header>
    <nb-card-body>
  <div *ngFor="let i of cards">
    <div class="media-body">
      <h5 class="mt-0">{{ i.title }}</h5>
      {{ i.description.short }}
    </div>
    <br>
  </div>
  <!{{ cards | json }}>
    </nb-card-body>
  </nb-card>
</div>

</div>